<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
<head>
<title>Create User</title>
</head>
<body>
    <div class="container">
        <h1>User Create Info</h1>
        <hr>
        <h2>Create User</h2>
 
        <form th:action="@{/saveuser}" th:object="${user}" method="POST">
            <input type="text" th:field="*{name}" placeholder="User Name">
            <input type="text" th:field="*{password}" placeholder="User Password">
            <input type="text" th:field="*{balance}" placeholder="User Balance">
            <button type="submit">Save User</button>
        </form>
 
        <hr>
 
        <a th:href="@{/home}"> Back to Home</a>
    </div>
</body>
</html>