<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link
	rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
>
<head>
<title>User</title>
</head>
<body>
<div class="container my-2" align="center">

<h3>User List</h3>
<a th:href="@{/createuser}">Add User</a>
<table border="1" class = "table">
	<thead>
		<tr>
			<th>Name</th>
			<th>Password</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="user : ${allUserList}">
			<td th:text="${user.name}"></td>
			<td th:text="${user.password}"></td>
			<td> <a th:href="@{/updateuser/{id} (id=${user.id})}" class="button is-link is-outlined">Update</a>
				 <a th:href="@{/deleteuser/{id} (id=${user.id})}" class="button is-danger is-outlined">Delete</a>
			</td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>
